---
import Layout from "@layouts/Layout.astro";
import Container from '../shared/Container.astro';
import Button from '../Button.astro';
import Paragraph from '../shared/Paragraph.astro';
import FormsContact from "@components/FormsContact.astro";
import Numeros from "@components/Numeros.astro";
import Reviews from "@components/Reviews.astro";
import SocialPil from "@components/SocialPil.astro";
import Gmail from "@components/icons/Gmail.astro";
import Facebook from "@components/icons/Facebook.astro";
import Instagram from "@components/icons/Instagram.astro";
import Tiktok from "@components/icons/Tiktok.astro";
import Yelp from "@components/icons/Yelp.astro";
import Phone from "@components/icons/Phone.astro";
import Services from "@components/Services.astro";
---

<Layout title="About Us | Magical Cleaning Service | Jersey City"
    description="We are Magical Cleaning Service, your partner in cleaning. We offer professional and personalized cleaning services in Jersey City and surrounding areas. Learn about our team and our passion for leaving your home spotless.">
    <section  id="cta" class="pb-20">
        <Container>
          <div
            class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-tr from-gray-100 to-blue-200 dark:from-gray-900 mt-28"
          >
            <div class="absolute right-0 top-0 h-full w-full flex justify-end">
              <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
                  <span
                    class="absolute w-16 h-16 -top-1 -right-1 bg-pink-500 rounded-md rotate-45"
                  ></span>
                  <span
                    class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                  ></span>
                  <span
                    class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                  ></span>
                </div>
            </div>
      
            <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
              <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
                  <span
                    class="absolute w-16 h-16 -top-1 -right-1 bg-pink-500 rounded-md rotate-45"
                  ></span>
                  <span
                    class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                  ></span>
                  <span
                    class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                  ></span>
                </div>
            </div>
            <div class="mx-auto text-center max-w-xl md:max-w-2xl relative">
              <h1
                class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
                font-bold text-heading-1"
              >
              Professional Cleaning in<span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-pink-600"> Jersey City</span> and its Surroundings.
              </h1>
              <Paragraph className={"pt-10"}>
                We don't just clean spaces, we create environments. We are a local company committed to offering you the best professional cleaning service, combining efficiency, affordability, and a personalized approach.
              </Paragraph>
              <div class="mx-auto max-w-md sm:max-w-xl pt-10">
                <Button class="md:text-sm lg:text-base md:py-2" url="/promotions">
                    Promotions
                </Button>

              <nav class="flex flex-wrap gap-x-4 gap-y-4 mt-8 justify-center">
                        <SocialPil href="https://www.facebook.com/profile.php?id=61562088982597"
                          class={` 
                            border border-blue-400 rounded-full 
                            flex justify-center items-center gap-x-2 
                            py-2 px-4
                            transition 
                            hover:scale-110
                            bg-blue-400 hover:bg-blue-600
                          `}
                        >
                          <Facebook class="size-6" />
                          Facebook
                        </SocialPil>

                        <SocialPil href="https://www.instagram.com/magicalcleaning_services/"
                          class={` 
                            border border-orange-400 rounded-full 
                            flex justify-center items-center gap-x-2 
                            py-2 px-4
                            transition 
                            hover:scale-110
                            bg-orange-400 hover:bg-orange-600
                          `}
                        >
                          <Instagram class="size-6" />
                          Instagram
                        </SocialPil>

                        <SocialPil href="https://www.tiktok.com/@magicalcleaningservices"
                          class={` 
                            border border-black rounded-full 
                            flex justify-center items-center gap-x-2 
                            py-2 px-4
                            transition 
                            hover:scale-110
                            bg-gray-700 hover:bg-gray-400
                            text-white
                          `}
                        >
                          <Tiktok class="size-6" />
                          Tiktok
                        </SocialPil>

                        <SocialPil href="https://www.yelp.com/biz/magical-cleaning-services-jersey-city?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)"
                          class={` 
                            border border-red-400 rounded-full 
                            flex justify-center items-center gap-x-2 
                            py-2 px-4
                            transition 
                            hover:scale-110
                            bg-red-400 hover:bg-red-600
                          `}
                        >
                          <Yelp class="size-6" />
                          Yelp
                        </SocialPil>

                        <SocialPil href="tel:+18623184425"
                          class={` 
                            border border-green-400 rounded-full 
                            flex justify-center items-center gap-x-2 
                            py-2 px-4
                            transition 
                            hover:scale-110
                            bg-green-400 hover:bg-green-600
                          `}
                        >

                          <Phone class="size-6" />
                          Phone
                        </SocialPil>

                        <SocialPil href="mailto:info@magical-cleaningservice.com"
                          class={` 
                            border border-red-400 rounded-full 
                            flex justify-center items-center gap-x-2 
                            py-2 px-4
                            transition 
                            hover:scale-110
                            bg-red-400 hover:bg-red-600
                          `}
                        >
                          <Gmail class="size-6" />
                          E-mail
                        </SocialPil>

                </nav>

              </div>
            </div>
          </div>
          
        </Container>
      </section>
      
      <Numeros />
      <Services />
      <Reviews />   
      <FormsContact />
      
</Layout>  