---
import Layout from '@layouts/Layout.astro';
import Numeros from '@components/Numeros.astro';
import Reviews from '@components/Reviews.astro';
import Bento from '@components/Bento.astro';
import Hero from '@components/Hero.astro';
import FormsContact from '@components/FormsContact.astro';
import Services from '@components/Services.astro';
---

<Layout title="Magical Cleaning | Service Professional Cleaning in Jersey City"
	description="Reliable and affordable cleaning service in Jersey City and surrounding areas. Deep, customized, and easy-to-schedule cleanings. Your home sparkling with just one click!">

	<main>
    <Hero />
		<div>
			<h2 class="lg:mt-20 mt-10 relative text-4xl lg:text-6xl text-center text-customBlue font-bold mb-10 lg:mb-06 underline-pink text-heading-1">
				Our Services
			</h2>
    <Bento />
    </div>
    <Services />
    <Numeros />
		<Reviews >
	</main>
  <FormsContact />
</Layout>

<style>
  .underline-pink::after {
    content: '';
    display: block;
    width: 120px; /* Ajusta este valor para cambiar el ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: #FF69B4; /* Color rosa */
    position: absolute;
    bottom: -10px; /* Ajusta esta distancia según sea necesario */
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
  }

</style>
