---
import BentoItem from "./BentoItem.astro";
---

<section
    class={`
    w-full max-w-[1400px] 
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4 
    mx-auto p-6 md:p-12 lg:p-20
    `}
>
    <BentoItem 
    class="col-span-10 lg:col-span-4" 
    title="Standard cleaning"
    > 
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
        bg-no-repeat bg-blue-100 -z-10"
        style="background-image: url('/bento1.jpg')"
        >
        </div>
       
        <p slot="content" class="text-base md:text-lg max-w-xl text-pink-100">
            Con nuestro servicio, <strong>disfrutarás</strong> de un ambiente limpio y organizado. 
            Nuestros profesionales utilizan productos de alta <strong>calidad y técnicas</strong> 
            eficientes para <strong> garantizar resultados óptimos.</strong> 
        </p>
    </BentoItem>

    <BentoItem 
    class="col-span-10 lg:col-span-6" 
    title="Deep Cleaning" 
    subtitle="17 de febrero de 2024" 
    >
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
        bg-no-repeat bg-pink-200 -z-10"
        style="background-image: url('/bento3.jpg')"
        >
        </div>

        <p slot="content" class="text-base md:text-lg max-w-xl text-sky-200">
            <strong>Transforma tu hogar</strong> u oficina. Eliminamos la <strong>suciedad más 
            incrustada en alfombras</strong>, tapicerías y rincones, y desinfectamos a fondo todas las superficies. 
            <strong>Disfruta de un ambiente más sano y renovado.</strong>
        </p>
    </BentoItem>

    

    <BentoItem 
    class="col-span-10 lg:col-span-6" 
    title="Move in/out cleaning"
    subtitle="16 de febrero de 2024" 
    >
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
        bg-no-repeat bg-pink-200 -z-10"
        style="background-image: url('/mountain.png')"
        >
    </div>

        <p slot="content" class="text-base md:text-lg max-w-xl text-sky-100">
            <strong>Transforma tu hogar</strong> u oficina. Eliminamos la <strong>suciedad más 
            incrustada en alfombras</strong>, tapicerías y rincones, y desinfectamos a fondo todas las superficies. 
            <strong>Disfruta de un ambiente más sano y renovado.</strong>
        </p>
    </BentoItem>

    <BentoItem 
    class="col-span-10 lg:col-span-4" 
    title="Carpet cleaning" 
    > 
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
        bg-no-repeat bg-blue-100 -z-10"
        style="background-image: url('/bento2.jpg')"
        >
        </div>
         
        <p slot="content" class="text-base md:text-lg max-w-xl text-pink-100">
            Con nuestro servicio, <strong>disfrutarás</strong> de un ambiente limpio y organizado. 
            Nuestros profesionales utilizan productos de alta <strong>calidad y técnicas</strong> 
            eficientes para <strong> garantizar resultados óptimos.</strong> 
        </p>
    </BentoItem>

  
</section>
