---
interface Props {
  class?: string
  target?: string
  url: string
}

const { url, target, class: className } = Astro.props
---

<a
  href={url}
  target=`${target ?? '_blank'}`
  rel="noopener noreferrer"
  class:list={[
    className,
    "inline-block",
    "rounded-full",
    "border",
    "border-pink-600",
    "px-9",
    "py-3",
    "text-sm",
    "font-medium",
    "text-pink-600",
    "hover:bg-pink-600",
    "hover:text-white",
    "focus:outline-none",
    "focus:ring",
    "active:bg-pink-500",
    "uppercase",
  ]}
>
  <slot />
</a>

